.container {
  padding: 0 2rem;
}

.main {
  padding: 0 2px;
  min-height: 100vh;
  padding-top: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  background: #C9C9C9;
  font-family: "Outfit", sans-serif;
}

.title a {
  color: #282828;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #282828;
  font-family: "Outfit", sans-serif;
}

.title,
.description {
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  font-family: "Outfit", sans-serif;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.box {
  width: 270px;
  height: 270px;

  background: #FFFFFF;
  border-radius: 20px;
}

.text {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.svg {
  w-6:h-6;  /* set the width and height of the icons */
  grid-column: 1 / 2;  /* occupy the first grid column */
}

.dealsbox {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;

  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 4;

  background: #282828;
  color: #666666;
  min-width: 100%;
  border-radius: 20px;
  border: 1px solid #666666;
  padding: 50px 400px;
}

.productbox {
  display: grid;
  justify-content: center;
  align-items: center;

  grid-column-start: 2;
  grid-column-end: 4;

  background: #282828;
  color: #666666;
  min-width: 100%;
  height: 80vh;
  border-radius: 20px;
  border: 1px solid #666666;
  scrollbar-width: thin;
  overflow-y: scroll;

  padding-top: 50px;
  padding-bottom: 50px;
}

.grocerylist {
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  color: #666666;
  min-width: 100%;
  border-radius: 20px;
  border: 1px solid #666666;
}

.maingridlayout {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;

  overflow: hidden;
  margin: 100px;
}

.gridlayout {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  align-content: start;
}

.button {
   justify-self: center;
   align-self: center;
   margin-bottom: 1rem;
   margin-top: auto;
   background-color: #282828;
   width: 90%;
   color: #FFFFFF;
   line-height: 40px;
   font-weight: 600;
   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
   transition: all 0.15s ease-in-out;
   outline: none;
   border-radius: 60px;
   height: 40px;
   font-family: "Outfit", sans-serif;
   text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #C9C9C9;
  }
  .code {
    background: #C9C9C9;
  }
  .logo img {
    filter: invert(1);
  }
}